doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        block contenido
            h1(style="color:blue;")!=titulo
            label=min
            meter(min=min value=nivel max=max)
            label=max